
@if (this.UserTask is not null)
{ <tr>
    <td>@UserTask.TaskDescription</td>
    <td>@UserTask.TaskType</td>
    <td>@UserTask.TaskLocation</td>
    <td>@UserTask.TaskTimePrediction </td>
    <td>@UserTask.TaskTimeInitiated</td>
    <td>@UserTask.TaskTimeFinished</td>
    <td>@UserTask.TaskStatus</td>
    <td>
        <a  class="btn btn-light" href="/editusertask/@UserTask.TaskId">
            Edit</a>
    </td>

</tr>
}
@code {
    [Parameter]
    public UserTask? UserTask { get; set; }

}
